/* Обнуление */
*{padding: 0;margin: 0;border: 0;}*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited,a:link{text-decoration: none;color:inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----------------------*/


.wrapper {
	margin: 0 10px;
}
.snake-game {
	padding: 100px 0 0 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.snake-game-container{
	max-width: 500px;
	margin: 0 auto;
}
.snake-game__body {
	position: relative;
	min-height: 500px;
	border: 1px solid #000;
	box-sizing: content-box;
}
.snake-game__body_fail{
	background-color: #FF8000;
	transition: 1s;
}
.snake-game__item{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #FF8000;
	border-radius: 25%;
	box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.7);
}
.snake-game__buttons{
	padding: 40px 100px;
}
.snake-game__btn{
	display: block;
	text-align: center;
	padding-top: 10px;
	width: 60px;
	height: 40px;
	border: 1px solid #000;
}
.snake-game__btn:active{
	background-color: #FF8000;
}
.snake-game__btn--up{
	margin: 0 auto 10px;
}
.snake-game__btn--right{
	float: right;
}
.snake-game__btn--left{
	float: left;
}
.snake-game__btn--down{
	margin: 60px auto;
}
